/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@font-face {
  font-family: "Mono";
  src: url("../fonts/mono/regular.woff2") format("woff2"),
       url("../fonts/mono/regular.woff") format("woff");
}

@media (prefers-color-scheme: light) {
  .cursor {
    opacity: .5;
  }
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6 {
    color: #7EFA55 !important;
    font-weight: normal !important;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #7EFA55 !important;
    font-weight: normal !important;
  }
}

.intro h2 {
  text-align: left;
}

body {
  font-family: var(--font-mono) !important;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
  margin-bottom: var(--spacing-base);
}

.cursor {
  animation: cursor 1s step-start infinite;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {

}
